<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Postgres connection settings -->
        <add key="PostgresConnection" value="Server=192.168.26.140;Port=5432;Database=katrindb2;User Id=postgres;Password=P@ssw0rd;" />

        <!-- Timescale connection settings -->
        <add key="TimescaleConnection" value="Server=192.168.26.140;Port=5432;Database=katrindb;User Id=postgres;Password=P@ssw0rd;" />

        <!-- InfluxDB connection settings -->
        <add key="InfluxDBHost" value="http://192.168.26.140:8086" />
        <add key="InfluxDBToken" value="vUAASWKs-OOFpGq5BQ44Mc-GYfKx5Szda2zQz-o4lXsmPXBBMfGvqkyoDApS8sZxni73cwJ05Mm8cCUGalunKw==" />
        <add key="InfluxDBBucket" value="katrindb" />
        <add key="InfluxDBOrganization" value="katrin" />

        <!-- Clickhouse connection settings -->
        <add key="ClickhouseHost" value="192.168.26.140" />
        <add key="ClickhousePort" value="9000" />
        <add key="ClickhouseUser" value="default" />
        <add key="ClickhouseDatabase" value="katrindb" />

        <!-- General Settings-->
        <add key="TestRetries" value="500" />
        <add key="DaySpan" value="1" />
        <!-- Could be: ClickhouseDB, InfluxDB, TimescaleDB, PostgresDB, MySQLDB -->
        <add key="TargetDatabase" value="PostgresDB" />
        <add key="StartTime" value="2022-01-01T00:00:00.00" />
        <!-- Where to store metrics file -->
        <add key="MetricsCSVPath" value="Metrics.csv" />
        <!-- System Metrics Options -->
        <add key="GlancesUrl" value="http://192.168.26.140:61208" />
        <add key="GlancesDatabasePid" value="1" />
        <add key="GlancesPeriod" value="1" />
        <add key="GlancesOutput" value="Glances.csv"/>
        <add key="GlancesNIC" value="enp9s0" />
        <add key="GlancesDisk" value="sda1" />

        <!-- Read Query Options -->
        <!-- Could be: RangeQueryRawData, RangeQueryAggData, OutOfRangeQuery, DifferenceAggQuery, STDDevQuery -->
        <add key="QueryType" value="RangeQueryRawData" />
        <add key="AggregationIntervalHour" value="1" />
        <add key="DurationMinutes" value="60" />
        <add key="SensorsFilter" value="1,2,3,4,5,6,7,8,9,10" />
        <add key="SensorID" value="100" />
        <add key="MaxValue" value="20000000" />
        <add key="MinValue" value="100000" />
        <add key="FirstSensorID" value="100" />
        <add key="SecondSensorID" value="200" />

        <!-- Ingestion and Population -->
        <add key="BatchSizeOptions" value="1000,5000,10000,20000,50000,100000" />
        <!-- Number of concurrent clients -->
        <add key="ClientNumberOptions" value="1" />
        <add key="SensorNumber" value="100000" />

    </appSettings>

</configuration>